nav {
  display: flex;
  width: 100%;
  transition: 0.5s ease;
  background-color: black;
  position: fixed;
  padding: 3vh;
  height: 5vh;
  border-bottom: 2px solid gray;
  font-family: "S-CoreDream-1Thin";
  font-weight: 100;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
}

.nav_active {
  visibility: visible;
  transition: 0.5s;
  opacity: 0.8;
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: center;
}

li {
  font-size: 25px;
  cursor: pointer;
  margin: 7vh;
  color: white;
}

li:hover {
  font-weight: bold;
}

#li_hover {
  font-weight: bold;
  border-bottom: 3px solid white;
}
