.skill_div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  font-family: "paybooc-Bold";
}

.skill_div img {
  width: 100px;
  height: 150px;
  margin: 10px;
}

.boot img,
.oracle img,
.mysql img,
.mongo img,
.fireBase img {
  width: 200px;
}

.skill_logo {
  font-size: 50px;
  font-weight: bold;
  font-family: "paybooc-Bold";
  color: white;
  position: relative;
  top: -30px;
}

.skill_content1,
.skill_content2,
.skill_content3 {
  padding: 5vh;
  border-radius: 15px;
  width: 50vh;
  height: 70vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 25px;
  font-weight: 600;
}

.content1,
.content2 {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.content1 div,
.content2 div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
